<!DOCTYPE html>
<html>
<body>
    {% if user_is_authenticated and user_is_staff is False %}
        {% if unread_messages_count %}
        <p style="text-align: center;">You have {{ unread_messages_count }} unread messages</p>
        {% else %}
        <p style="text-align: center;">You have no unread messages</p>
        {% endif %}
        <div style="text-align: center;">
            <a href="{% url 'room' room_name %}" style="text-align: center;">Go to chat room</a>
        </div>
    {% else %}
    <div style="text-align: center;">
        <p>To chat, please login</p>
        <a href="{% url 'login-user' %}">Login</a>
    </div>
    {% endif %}
</body>
</html>
